body{
    font-family:"Arial", Serif;
    background: #333;
    color: #fff;
    overflow-x:hidden;
  }

  .blog-title {
    text-align: center;
  }

  #main-title{
    transition:margin-left 0.5s;
    padding:20px;
    overflow:hidden;
  }
  
  .side-nav{
    background-color:#111;
    overflow-x:hidden;
    padding-bottom: 30px;
  }

  #side-nav-title{
    text-decoration:none;
    font-size:17px;
    color:#ccc;
    display:block;
    margin-top: 20px;
    margin-bottom: 20px; 
  }

  .side-nav-bloglist {
    padding: 10px;
  }

  .side-nav-blog-title {
    margin-top: 10px;
    text-decoration:none;
    font-size:15px;
    color:rgb(150, 172, 243);
    padding: 0;
    border: none; 
    background: none;
    cursor:pointer;
  }

  .side-nav-blog-depth1 {
    margin-left: 12px;
    text-decoration:none;
    font-size:12px;
    color:#ccc;
    display:block;
  }

  .side-nav a:hover{
    color:#fff;
  }

  .body-content {
    background: rgb(233, 233, 233);
  } 

  #blog-link{
      width: 100%;
      
  }

  #blog-link ul {
    list-style: none;
    font-size: 1.2em;
  }

  #blog-link li {
    margin-top: 10px;
  }

  .devider {
    height: 1px;
    background: #fff;
  }
  
  .footer {
    text-align: center;
    font-size: 12px;
  }
/*   
   @media(max-width:568px){
    .navbar-nav{display:none}
  }
  
  @media only screen and (max-width : 479px) {
    #main{
      width: 250px;
    }
  }
  
  @media only screen and (min-width : 480px) {
    #main{
      width: 480px;
    }
  }
  
  @media only screen and (min-width : 768px) {
    #main {
      width: 768px;
    }
  }
  
  @media only screen and (min-width : 992px) {
    #main {
      width: 992px;
    }
  }
  
  @media only screen and (min-width : 1200px) {
    #main {
      width: 1200px;
    }
  } */